/* ---- base ---- */

body{
	width:100%;
	height:100%;
	background:#fafafa;
}

html * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- Avator ---- */
.main-avatar {
	display: block;
	border-radius: 100%;
	width: 9em;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
}

/* --- Icons --- */
ul.icons{
	cursor: default;
	list-style: none;
	padding-left: 0;
	font-size: 32px;
}

	ul.icons li{
		display: inline-block;
		padding: 0 1em 0 1em;
	}

	ul.icons li:last child{
		padding-right:0;
	}

	ul.icons li .icon:before{
		font-size: 1.5em;
	}

.material-icons{
	  position: relative;
	  color: #b61924;
	  top: 5px;
}

.fa{
	color: #212121 ;
	top:3px;
}

.ai {
	color: #212121 ;
	top:3px;
}

.fa:hover{
	color: #b61924;
}

.ai:hover {
	color: #b61924;
}

.link-text{
	color: #b61924;
	border-bottom: 1px dashed;
	text-decoration: none;
}


.card-title{
	font-size: 30px !important;
}

.card-intro{
	font-size: 19px;
}

.card-link{
	color: #b61924;
}

.collapsible-header{
	font-size: 20px !important;
}

.collapsible-intro{
	font-size: 18px;
}

.collection .collection-item{
	font-size: 18px;
}

.collapsible-body {
	background-color: white !important;
}

.highlight-text{
	border-radius: 5px;
	background: #b61924;
	color: white;
	padding: 1px;
}
/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  background-repeat: no-repeat;
	position: fixed;
	z-index: -999;
}

#name-pic {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.card-image img{
	display: block;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
	height: 60% !important;
	width: 80% !important;
	background-size: cover !important;
}

.blockquote{
  font-size: 30px;
  border-left: 0 solid #b61924;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #b61924;
  font-size: 3em;
}

blockquote{
	border-left: 8px solid #b61924 !important;
}

.pinned {
	position: fixed;
	top: 40%;
	left: 85%;
}

ul.table-of-contents li{
	font-size: 19px;
}

.table-of-contents a.active {
	border-left-color: #b61924 !important;
	color: #b61924 !important;
}

.table-of-contents a{
	color: #212121 !important;
}

.card {
	padding: 0 0 0 0 !important;
}

.badge {
	background-color: #b61924 !important;
}

hr.fancy-line { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.timeline {
	position: relative;
  }
  
  .timeline .timeline-event {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2%;
	padding-right: 2%;
  }
  
  .timeline .timeline-event .timeline-content {
	position: relative;
	width: calc(50% - 50px);
  }
  
  .timeline .timeline-event::before {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	left: calc(50% - 1px);
	top: 0;
  }
  
  .timeline .timeline-event::after {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	left: calc(50% - 1px);
	top: calc(50% + 30px);
  }
  
  .timeline .timeline-event:first-child::before {
	display: none;
  }
  
  .timeline .timeline-event:last-child::after {
	display: none;
  }
  
  .timeline .timeline-event:nth-child(even) .timeline-content {
	margin-left: calc(50% + 50px);
  }
  
  .timeline .timeline-event:nth-child(odd) .timeline-content {
	margin-left: 0;
  }
  
  .timeline .timeline-badge-news {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	background: white;
	top: calc(50% - 20px);
	right: calc(50% - 20px);
	border-radius: 50%;
	text-align: center;
	cursor: default;
  }
  
  .timeline .timeline-badge-news i {
	font-size: 25px;
	line-height: 32px;
	color: #FFD700;
  }

  .timeline .timeline-badge-done {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	background:white;
	top: calc(50% - 20px);
	right: calc(50% - 20px);
	border-radius: 50%;
	text-align: center;
	cursor: default;
  }
  
  .timeline .timeline-badge-done i {
	font-size: 25px;
	line-height: 32px;
	color: #64dd17;
  }
  
  @media (max-width: 600px) {
	.timeline .timeline-event .timeline-content {
	  width: calc(100% - 70px);
	}
	.timeline .timeline-event::before {
	  left: 19px;
	}
	.timeline .timeline-event::after {
	  left: 19px;
	}
	.timeline .timeline-event:nth-child(even) .timeline-content {
	  margin-left: 70px;
	}
	.timeline .timeline-event:nth-child(odd) .timeline-content {
	  margin-left: 70px;
	}
	.timeline .timeline-badge {
	  left: 0;
	}
  }